name: Build and Push Docker Image

on:
  push:
    branches:
      - "main"

jobs:
  push_to_registry:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - id: commit
        uses: prompt/actions-commit-hash@v3
      - id: meta
        uses: docker/metadata-action@v5
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: ${{ secrets.DOCKER_REPO_ADDR }}
      - uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            ${{ secrets.DOCKER_REPO_ADDR }}/see/see-docs:latest
            ${{ secrets.DOCKER_REPO_ADDR }}/see/see-docs:${{ steps.commit.outputs.short }}
